td {
	&.bold {
		font-weight: bold;
	}
	&.in-progress {
		color: #bc702d !important;
	}
	&.complete {
		color: #3f761a !important;
	}
	&.failed {
		color: #ab4646 !important;
	}
	&.actions {
		color: #d53333 !important;
		padding: 20px 0px !important;
		i {
			margin: 0px 10px;
			&:hover {
				cursor: pointer;
			}
		}
	}
}