@import 'base';
@import '~bootstrap/scss/bootstrap.scss';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// ------------------------------------------------------------
// Button styling
// ------------------------------------------------------------
button {
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	&:focus {
		outline: none;
	}
}

button.solid-button {
	&.blue {
		background-color: #15d6f3;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.25) 0%, rgba(255, 255, 255, 0.25) 100%);
		// box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.33);
	}
	&.orange {
		background-color: #ff7355;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.04) 0%, rgba(255, 255, 255, 0.04) 100%);
		// box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.33);
	}
	border-radius: 40px;
	color: #fff;
	font-size: 22px;
	padding: 20px 30px;
	min-width: 247px;
	border: none;
	box-shadow: inset 0 5px 0 rgba(255,255,255,0.21);
	transition: all .3s ease;
	&:hover {
		box-shadow: inset 0 100px 0 rgba(255,255,255,0.21);
	}
}

button.border-button {
	font-size: 22px;
	padding: 18px 30px;
	border-radius: 40px;
	min-width: 247px;
	background: none;
	// box-shadow: inset 0 0px 0 rgba(0,0,0,0.05);
	// transition: all .3s ease;
	// &:hover {
	// 	box-shadow: inset 0 100px 0 rgba(0,0,0,0.05);
	// }
	&.orange {
		color: #ff7959;
		border: 2px solid #ff7959;
	}
	&.white {
		color: #fff;
		border: 2px solid #fff;
		i {
			text-shadow: 1px solid #fff;
			margin: 0px 5px !important;
		}
	}
}

button.block-btn {
	color: white;
	font-size: 16px;
	padding: 10px 30px;
	box-shadow: inset 0 0px 0 rgba(255,255,255,0.21);
	transition: all .3s ease;
	&:hover {
		box-shadow: inset 0 100px 0 rgba(255,255,255,0.21);
	}
	&.orange {
		background-color: #ff7355;
		border: none;
	}
}

// ------------------------------------------------------------
// End button styling
// ------------------------------------------------------------


// .hover-slide {
// 	box-shadow: inset 0 0px 0 rgba(0,0,0,0.05);
// 	transition: all .3s ease;
// 	&:hover {
// 		box-shadow: inset 0 100px 0 rgba(0,0,0,0.05);
// 	}
// }


