section#login-wrap {
	height: 100%;
	width: 100%;
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .7);
	display: flex;
	justify-content: center;
	align-items: center;
	.login-box {
		background-color: #fff;
		width: 400px;
		margin: 0 auto;
		.close-wrap {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			a {
				font-size: 25px;
				text-decoration: none;
				color: #999;
				&:hover {
					cursor: pointer;
				}
			}
		}
		.label-wrap {
			display: flex;
			justify-content: center;
			align-items: center;
			padding-bottom: 15px;
			border-bottom: #e6e6e6 1px solid;
			p {
				margin:0;
				font-size: 22px;
			    color: #4c4c4c;
			    font-weight: bold;
			}
		}
		.form-wrap {
			background: #fbfbfb;
			padding: 20px;
			form {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				p {
					color: #333;
				    font-size: 13px;
				}
				input {
					width: 100%;
					margin-bottom: 15px;
					border: 1px solid #e3e3e3;
					border-radius: 5px;
					padding: 10px;
					color: #999;
					font-size: 14px;
				}
				button.forgot-password {
					border: none;
					background: none;
					text-align: left;
					font-size: 12px;
					color: #3C3C3C;
					align-self: flex-start;
				}
				button:not(.forgot-password){
					width: 100%;
					margin-bottom: 15px;
					background-color: #0B2B50;
				    border: 1px solid #0B2B50;
				    border-radius: 5px;
			        padding: 10px 0;
			        color: #fff;
			        text-align: center;
			        font-size: 18px;
				}
				label {
					display: flex;
					flex-direction: row;
					align-items: center;
					width: 100%;
					font-size: 14px;
					color: #333;
					input {
						margin-bottom: 0px;
						width: auto;
						margin-right: 10px;
					}
				}
				a {
					width: 100%;
					font-size: 12px;
					text-decoration: none;
					color: #3486cc;
					&:hover {
						color: #3486cc;
					}
				}
			}
		}
		.bottom-wrap {

		}
	}
}	

